/*
* @Author: Lenovo
* @Date:   2018-03-08 13:34:42
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-03-14 19:26:05
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	/* overflow-x: hidden; */
}
.ban{
	width: 100%;
	min-width: 1200px;
	height: 720px;
	background: url('../img/index_img1.png') no-repeat center center;
	background-size: 100% 100%;

    position: relative;
}
.ban_top{
	width: 100%;
	padding: 20px 120px;
	display: flex;
	justify-content: space-between;

}
.logo{
	margin-top: 20px;

}
.logo img{
   
}
.nav{
	width: 550px;
	height: 40px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	color: white;
}
.nav li{
	height: 100%;
	
	
}
.nav li a{
	display: inline-block;
	height: 100%;
	padding: 20px;
	line-height: 40px;
	font-size: 16px;
	color: white;

}
.ban_center{
	width: 100%;
	/* margin-top: 150px; */
	
	display: flex;
	flex-flow: column;
	/* overflow: hidden; */

}
.ban_center span{
	display: block;
	color: white;
	text-align: center;
}
.ban_center span:nth-child(1){
	font-size: 78px;
	font-weight: 600;
	margin-top: 150px;
}
.ban_center span:nth-child(2){
	border-top: 2px solid #fff;
	width: 120px;
	margin: 0 auto;
	margin-top: 25px;
}
.ban_center span:nth-child(3){
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 25px;
}
.ban_center span:nth-child(4){
	margin-top: 25px;

}
.bad-video{
	width: 100%;
	height: 1000px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	background-color: black;
	overflow: hidden;
	display: none;
}
.close{
	width: 35px;
	height: 35px;

	
	float: right;
    position: absolute;
    top: 50px;
    right: 50px;
}
.close img{
	width: 100%;
	height: 100%;
}
.bad-video h2{
	text-align: center;
	color: white;
	margin-top: 50px;
}
.bad-video>img{
	width: 780px;
	height: 460px;
	margin: 0 auto;
	margin-top: 30px;

}
.ban_bottom{
	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 40px;
	overflow: hidden;
	padding: 20px 0;
	position: absolute;
	left: 0;
    bottom: 0;
	
}
.ban_bottom h5{
	color: white;
	text-align: center;
}
.data{
	width: 100%;
	margin-top: 15px;	
	display: flex;
	justify-content: space-around;

}
.data li{
	height: 100%;

	display: flex;
	flex-flow: row;

}
.data li img{
	width: 46px;
	height: 46px;
	display: block;
	margin-top: 10px;

}
.data li>div{
	/* display: flex; */
	flex-flow: column;
	color: white;
	margin-left: 15px;
	width: 160px;

}
.data li>div span{
	/* width: 100%; */
	display: inline-block;
	
	
}
.data li>div span:nth-child(2){
	
	font-size: 36px;

	
}
.data li>div span em{
font-size: 14px;
	
	
}
.box{
  width: 100%;
  height: 250px;
  /* margin: 100px auto; */
  /* background-color: #646464; */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
/* #div1 ul{
  position:absolute;
  left:0;
  top:0;
  overflow: hidden;
  background-color: #3b7796;
} */

.slider{
	/* width: 1200px; */
	width: 220%;
	/* width: 100%; */
	height: 250px;
   /* display: flex; */
   position:absolute;
   left:0;
   top:0;
  /* overflow: hidden; */
   overflow: hidden;

}
.slider1{
	background: url('../img/index_c2_img1.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider2{
	background: url('../img/index_c2_img2.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider3{
	background: url('../img/index_c2_img3.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider4{
	background: url('../img/index_c2_img1.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider5{
	background: url('../img/index_c2_img2.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider6{
	background: url('../img/index_c2_img3.png') center center no-repeat;
	background-size: 100% 100%;
}
.slider div{
	width: 16%;
	height: 100%;
	padding: 0 50px;
	float: left;

	/* color: white; */
}
.slider div h4{
    margin-top: 80px;
    margin-bottom: 20px;
}
.slider div span{
   display: block;
   /* margin-top: 20px; */
   color: #999;
   height: 30px;
   line-height: 30px;


}
.slider div a{
  color: #6a8fe4;
  font-size: 14px;


}
.news{
	width: 1180px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;

}
.title{
	width: 100%;
	text-align: center;
}
.title h2{
		font-weight: 400;
}
.title h4{
		font-weight: 400;
		margin-top: 15px;
}
.title div{
	width: 120px;
	border-top: 3px solid #3494ff;
	
	margin: 0 auto;
	margin-top: 30px;
}
.news_main{
	width: 100%;
	min-width: 1080px;
	height: 270px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;	
}
.news_slider{
	width: 423px;
	height: 100%;
	overflow: hidden;
	position: relative;
	
}
#newbannerul{
	width: 320%;
	height: 100%;
	position: absolute;

	/* background: url('../img/sl1.jpg') center center no-repeat; */
}
#newbannerul li{
	width: 432px;
	height: 100%;
	float: left;
	/* position: absolute; */
}
#newbannerul li span{
	display: block;
	width: 432px;
	
	/* float: left; */
    line-height: 50px;
    padding: 0 20px;
	height: 50px;
	color: white;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: -50px;
	position: relative;
	z-index: 10;
	
}

#btnshow{
	width: 150px;
	height: 15px;
	display: flex;
	justify-content: space-around;
	 position: absolute;
	 bottom: 15px;
	 right: 10px;
	 z-index: 11;
}
#btnshow li{
	width: 30px;
	height: 10px;
   border: 1px solid #fff;
   border-radius: 5px;
   background-color: transparent;
}

#btnshow li.new{
	background-color: white;
}
.new_title{
	width: 630px;
	display: flex;
	justify-content: space-between;
}
.new_title1{
	width: 286px;
	height: 100%;

}
.new_title2{
	width: 286px;
	height: 100%;

}
.new_title p{
	width: 100%;
	height: 30px;
	margin-top: 15px;

}
.new_title p>span{
	display: inline-block;
	height: 30px;
	float: left;
	color: #666;



}
.new_title p>a{
	display: inline-block;
	height: 20px;
	width: 240px;
	/* line-height: 30px; */
	float: left;
	color: #666;
	overflow: hidden;
	margin-left: 15px;

	text-overflow: ellipsis;




}
.more{
	width: 160px;
	height: 35px;
	border: 1px solid #000;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 30px;
}
.foot{
	width: 100%;
	background-color: #333;
	padding-top: 40px;
	margin-top: 40px;
	padding-bottom: 30px;

}
.redu{
	width: 900px;
	height: 200px;
	margin: 0 auto;
	/* color: white; */
	display: flex;
	justify-content: space-between;
}
.redu dl{}
.redu dl dt{
	color: white;
	font-weight: 600;
	font-size: 16px;


}
.redu dl dd{
	color: #a09978;
	/* margin-top: 50px; */
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #717171;
}
.redu dl a{
	display: block;
}
.redu dl a:nth-child(2){

	
	margin-top: 30px;
	
}
.redu7 dd{
	margin-top: 30px;
}
.fri{
	width: 900px;
	margin-top: 50px;
	margin: 0 auto;

}
.fri p{
	color: #999;
	margin-top: 10px;
}
.fri_link{
	width: 100%;
	/* margin: 0 auto; */
	display: flex;
	justify-content: space-between;
	/* margin-top: 40px; */
}
.fri_link li{
	margin-top: 30px;

}
.copy{
	color: white;
	text-align: center;
	margin-top: 50px;
	font-size: 12px;

}